/* 公共样式 */

li {
    list-style: none;
  }

@font-face {
  font-family: "仓耳渔阳体 W02";font-weight: 400;src: url("//at.alicdn.com/wf/webfont/ARkYpaNyZT1X/DvbZjSYIwK7gOJg1ZYMd-.woff2") format("woff2"),
  url("//at.alicdn.com/wf/webfont/ARkYpaNyZT1X/VlPtfAJ_j5WVOUQPbXKzG.woff") format("woff");
  font-display: swap;
}
/* 公共样式 */

/* body */
*{
    user-select: none;
    /* 去除页内距 */
    padding:0;
    margin:0;
    width: 100%;
 }
 body{
    width: 100%;
 }
/* body */

/* 头部样式 */
.head{
    background-color:#07406c;
    width:100%;
    height:150px;
    display: fixed;
    margin: 0;
    margin-bottom: 0;
}
.left{
    float:left;
    width:20%;
    height: 150px;
}
.left p{
   font-size:50px;
   color:#fff;
   text-align: center;
   margin-top: 10%;
}
.right{
    float:right;
    height:100%;
    width: 50%;
    display: flex;
}
.right li{
    list-style-type: none;
    width:20%;
    height:80%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
}
.right a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.right li i{
    font-size:50px;
    color:#fff;
    margin: 5px 5px 0px 25px;
}
.right li p{
    color:#fff;
    font-size:16px;
    margin-left: 5px;
    font-weight: 300;
    
}
.right li .covid{
    margin-left: 0px;
}
.right i:hover{
    color:azure;
    font-size: 32px;
}
/* 头部样式 */

/* 门面 */
.door{
  width: 80%;
  margin: auto;
}
.door .label{
  width: 40%;
  height: 100px;
  position: absolute;
  top:50%;
  left:10%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
}
.door .label .left{
  width: 15%;
  height: 100px;
  background-color: #07406c;
  font-size: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items:center;
}
.door .label .right{
  width: 55%;
  height: 100px;
  font-size: 20px;
  color: #fff;
  /* background-color: aqua; */
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.label .right:hover{
  color:#07406c;
  font-size:25px ;
}
/* 门面 */

/* 社区动态 */
  /* 标题 */
  .title{
    width: 50%;
    height: 150px;
    margin: 50px auto;
    /* background-color: #479557; */
    display: flex;
    border-bottom:5px double #07406c;
  }
  .title i{
    font-size:70px;
    margin-left: 30px;
    margin-top: 50px;
    color: #07406c;
    animation: move 5s infinite linear;
  }
  .title p{
    font-size: 30px;
    margin-top: 70px;
    margin-left: 200px;
    color:#07406c;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
  }
  @keyframes move {
    to {
      transform: translateX(200px);
    }
  }

  /* 用户鼠标移入box,动画暂停 */
  .title:hover i {
    animation-play-state: paused;
  }
  /* 标题*/
/* 社区动态 */


/** 分类及焦点图 **/
.xtx_entry {
    height: 500px;
    background-color: #f2f2f2;
    position: relative;
    margin-top: 100px;
  }
  
  .xtx_category {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 9;
  }
  
  .xtx_category:hover .xtx_category_subset {
    display: block;
  }
  
  .xtx_category_super li {
    text-decoration: none;
    height: 100px;
    padding: 0 20px 0 40px;
    transition: .25s;
    cursor: pointer;
  }
  
  .xtx_category_super li:hover{
    background-color: #07406c;
    color: #fff;
  }
  
  .xtx_category_super a {
    font-size: 24px;
    line-height: 50px;
  }
  
  .xtx_category_super a small {
    font-size: 18px;
  }
  
  .xtx_category_super i {
    display: block;
    width: 12px;
    height: 12px;
    margin-top: 20px;
    background-position: -75px -110px;
    float: right;
  }
  
  .xtx_category_subset {
    width: 990px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    position: absolute;
    top: 0;
    left: 250px;
  }
  
  .xtx_banner {
    width: 1240px;
    height: 500px;
    margin-left:200px;
    overflow: hidden;
    position: relative;
  }
  
  .xtx_banner:hover a {
    opacity: 1;
  }
  
  .xtx_banner > a {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-top: -22px;
    opacity: 0;
    transition: opacity .5s;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
  }
  
  .xtx_banner > a.prev {
    left: 270px;
    background-position: 14px -59px;
  }
  
  .xtx_banner > a.next {
    right: 20px;
    background-position: -24px -59px;
  }
  
  .xtx_banner .indicator {
    width: 990px;
    text-align: center;
    font-size: 0;
    position: absolute;
    left: 250px;
    bottom: 22px;
  }
  
  .xtx_banner .indicator span {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.43);
  }
  
  .xtx_banner .indicator span.active {
    background-color: #fff;
  }
/** 分类及焦点图 **/

/* 小火箭 */
.up{
    height: 70px;
    width: 70px;
    position:relative;
    top:50%;
    font-size: 100px;
    position: fixed;
    right:100px;
}
.up i{
    font-size: 60px;
    color:#07406c;
    z-index: 1;
}
/* 小火箭 */

/** 公共底部 **/
.xtx_footer {
    border-top: 1px solid #e4e4e4;
    display: flex;
    flex-direction: column;
  }
  
  .xtx_footer .contact {
    width: 100%;
    background-color:#fff;
    display: flex;
    flex-direction: row;
  }
  
  .xtx_footer .contact dl {
    width: 30%;
    background-color:#fff;
    height: 190px;
    text-align: center;
    padding: 0 72px;
    border-right: 1px solid #999;
    color: #999;
    float: left;
    display: flex;
    flex-direction: column;
  }
  
  .xtx_footer .contact dl:first-child {
   margin-left: 0;
  }
  
  .xtx_footer .contact dl:last-child {
    border-right: none;
    padding-right: 0;
  }
  
  .xtx_footer .contact dt {
    line-height: 1;
    font-size: 20px;
    color:#07406c;
    margin-top: 25px;
  }
  
  .xtx_footer .contact dd {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction:row;
    /* background-color: #666; */
    height:100px;
    width:100% ;
    margin-top: 20px;
  }
  .xtx_footer .contact dd i{
    font-size: 70px;
  }
  
  .xtx_footer .contact dd i:hover{
    color:#07406c;
    font-size: 60px;
  }
  .xtx_footer .contact dd img{
    width: 100px;
  }
  .xtx_footer .contact dd span{
    font-size: 15px;
  }
  .xtx_footer .contact dd:last-child {
    margin-right: 0;
  }
  
  .xtx_footer .contact dd .download{
     width: 200px;
     height: 30px;
     margin-left: 50px;
     background-color: #07406c;
  }
  .xtx_footer .contact dd a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
  }
  
  .xtx_footer .extra {
    background-color: #333;
  }
  
 
  .xtx_footer .copyright {
    height: 170px;
    padding-top: 40px;
    text-align: center;
    color: #999;
    font-size: 15px;
  }
  

/* 设备自适应 */
@media screen and (max-width: 500px){
   body .iconfont{
      font-size:20px;
    }
    /* 头部 */
    .head{
      height: 70px;
    }
    .head .right p{
      font-size: 10px;
    }
    .head .right li i{
      font-size:20px;
      margin-left: 5px;
    }
    /* 门面 */
    .door .label{
      width: 40%;
      height: 50px;
      top:30%;
    }
    .door .label .left{
      width: 15%;
      height: 50px;
      font-size: 20px;
    }
    .door .label .right{
      width: 55%;
      height: 50px;
      font-size: 10px;
    }
    /* 标题 */
    .title{
      height: 50px;
      margin: 50px auto;
    }
    .title p{
      font-size: 20px;
      margin-top: 20px;
      margin-left: 100px;
    }
    .title i{
      margin-top: 20px;
      color: #07406c;
      animation: move 3s infinite linear;
    }
    /* 焦点图 */
    .xtx_category_super a {
      font-size: 14px;
      line-height: 50px;
    }
    
    .xtx_category_super a small {
      font-size: 8px;
    }
    /* 底部 */
    .xtx_footer .contact dt {
      font-size: 10px;
      margin-top: 25px;
    }
    .xtx_footer .contact .iconfont{
      font-size: 40px;
    }
    .xtx_footer .contact dd{
      font-size: 10px;
    }
    .xtx_footer .contact dd img{
      width: 50px;
    }
    .xtx_footer .contact dd span{
      font-size: 8px;
    }
    .xtx_footer .contact dd .download{
      width: 100px;
      height: 60px;
      margin-left: 30px;
   }
   .xtx_footer .contact dd a{
    font-size: 5px;
  }
}



